.hero-section-videobg {
  /* position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh; */
  background: url("./images/videoBackgroundDark.gif") no-repeat;
  background-size: cover;
}

.hero-section-videobg video {
  position: absolute;
  top: 75px;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
}

/* 
.hero-section-videobg .hero-img {
    position: absolute;
    bottom: -10px;
    right: 0;
}
.hero-section-videobg .hero-text {
    padding-top: 200px;
} */
.hero-section-videobg .overlay {
  bottom: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
}
.support-items,
.support-section {
  z-index: 3;
}

#aboutme .title,
#contact .title {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.aboutme-text .lead {
  font-weight: 200;
  font-size: 17px;
}

#aboutme {
  padding-bottom: 100px;
  border-bottom: 1px solid #e3e3e8;
}

/* CIRCLE PULSE EFFECT */
.pulse-container {
  position: relative;
}
.circle {
  text-align: center;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  color: #000000;
  padding-top: 25px;
  border: 1px solid rgba(232, 161, 36, 0.5);
  box-shadow: 0px 0px 1px 1px #000000;
  background: white;
  position: absolute;
  z-index: 2;
}

.circle h3 {
  font-weight: 700;
}
.circle span {
  line-height: 1.5;
  display: block;
}
.circle-top-right {
  right: 0;
}
.circle-bottom-right {
  right: 55px;
  bottom: 0;
}
.circle-center-left {
  left: 0;
  bottom: 100px;
}

.btn-more {
  background: url("./images/Imgs/seeMoreBtnUnderline.png") no-repeat;
  background-position: bottom left;
  background-size: 55px;
  border-radius: 0;
  color: #e8a124;
  padding: 0 0;
  padding-bottom: 3px;
  font-size: 13px;
}

#hirenow {
  background-color: #fafbfd;
}

#hirenow .section-wrapper {
  margin-bottom: 75px;
}
.list-hire {
  margin-bottom: 0;
}
.list-hire li {
  min-height: 45px;
  display: flex;
  align-items: center;
  color: #1f1f1e;
  background: url("./images/Icon/checkCircleIcon.svg") no-repeat;
  background-position: left center;
  vertical-align: middle;
  padding-left: 55px;
  margin-bottom: 15px;
  line-height: 1.4;
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .circle {
    scale: 70%;
  }
  .circle-top-right {
    right: -15px;
    top: -75px;
  }
  .circle-bottom-right {
    right: 25px;
    bottom: -25px;
  }
  .circle-center-left {
    left: -25px;
    bottom: 50px;
  }
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(232, 161, 36, 0.9);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(232, 161, 36, 0);
  }
}

.header .row > * {
  width: 100%;
}

.header {
  background: rgb(255, 255, 255, 1);
  padding: 8px 0;
}

.hero-section-videobg .hero-text .h1 {
  color: #e8a124;
  font-size: 40px;
  line-height: 55px;
}

.hero-section-videobg .hero-text h3 {
  color: #ffffff;
  font-size: 30px;
}

.hero-section-videobg .hero-text p {
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-btn-container .btn {
  width: 225px;
  margin-bottom: 5px;
  margin-right: 12px;
}

.hero-section .hero-text h3 {
  text-transform: none;
}

.hero-section .hero-img {
  /* right: -100px; */
  overflow: hidden;
}

.works-list-ul {
  overflow-x: auto;
  display: -webkit-box;
}


#resources{
  background-color: #FEFCFE;
}
.resources-videobg{
  width: 100%;
  height: 100vh;
  background: url("./images/videoBackgroundLight.gif") no-repeat;
  background-size: cover;

}

@media only screen and (max-width: 767.98px) {
  .support-section .support-items .row > * {
    width: auto;
  }

  .support-section .support-items .support-item {
    display: block;
    text-align: center;
  }
  .support-section .support-items .support-item .support-icon {
    margin: auto;
  }
  .support-section .support-items {
    margin: 0;
    max-width: 100%;
  }

  .support-section .support-items .support-item {
    box-shadow: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .works-list-ul {
    display: flex;
  }
  .hero-btn-container .btn {
    padding: 12px 40px;
    width: auto;
  }
  .list-hire li {
    margin-bottom: 25px;
  }
}

/* // large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) {
  .header .row > * {
    width: auto;
  }
  .header {
    background: rgb(255, 255, 255, 1);
    padding: 8px 0;
  }

}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .hero-section-videobg .hero-text .h1 {
    color: #e8a124;
    font-size: 60px;
    line-height: 75px;
  }

  .hero-section-videobg .hero-text h3 {
    color: #ffffff;
    font-size: 50px;
  }
}

@media only screen and (max-width: 680px) {
  .hero-section .hero-img {
    display: block;
    bottom: 0px;
  }
}
